<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body class="home">
	<div class="row home_box">
		<div class="col-lg-3"></div>
		<div id="box1" class="col-lg-6 box">
			<div class="row col-lg-12">
				<div class="first col-lg-12">Welcome To Surfing's Best!</div>


				<a href="<%= tag_path(1) %>" class="opening_button">Check Breaks</a>

			</div>
		</div>
		<div class="col-lg-3"></div>
	</div>
</body>
</html>