<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body class="home">
	<div class="home_body">
		<div class="col-lg-12 home_text">Welcome to Secret Spot Surf Reviews</div>
		<div class="col-lg-12 home_text1">Click Below to Enter!</div>
		<div class="drop"></div>
		<a href="<%= tag_path(1) %>"><div class="wave"></div></a>
	</div>
</body>
</html>