
<body class="destination_body">
  <div class="show_header">
      <p><%= @destination.name %></p>
  </div>

  <hr>
  <hr>

  <div class="destination">
    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 destination_card">
          <%= image_tag @destination.image %>
          <p class="destination_title">Description: </br></br> <%= @destination.description %></p>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </div> 
</body>
